In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

original = pd.read_csv("./로그 데이터/NU-MineBench.csv")
original

                gpa
0      105950216192
1      105943924736
2      105946021888
3      105939873792
4      105941845296
...             ...
63973  103568084992
63974  103568404480
63975  103563653120
63976  103565225984
63977  103560867840

[63978 rows x 1 columns]

In [2]:
train_test_split_index = 60000

data = original.copy()
train_set = data[:train_test_split_index]
test_set = data[train_test_split_index:]
train_set

                gpa
0      105950216192
1      105943924736
2      105946021888
3      105939873792
4      105941845296
...             ...
59995  103962836992
59996  103962849280
59997  103962861568
59998  103962873856
59999  103963033600

[60000 rows x 1 columns]

In [4]:
data_counts = train_set["gpa"].value_counts().to_frame("gpa_counts")
data_counts

              gpa_counts
103728635904           3
103580106752           3
104226586624           2
104285302784           2
104285745152           2
...                  ...
104176857088           1
103615827968           1
103976845312           1
103804055552           1
104226537472           1

[58213 rows x 1 columns]